<footer class="footer wow fadeInUp">
    <div class="container">
        <div class="row row-footer">
            <div class="row-one">
                <div class="copyright">© Joy Pools  2018</div>
                <div class="phone"><a href="1279943789">+ 127-994-3789</a> <span class="phone-span"> | </span><a
                        href="1553545630"> + 155-354-5630 .</a> </div>
            </div>
            <div class="development"><div class="development-text">Разработка и поддержка</div><img src="img/svg/logo-future.svg" alt="logo-future"></div>
        </div>
    </div>
</footer>