<!-- header.html -->
<header class="header wow fadeInUp" data-wow-delay="0.5s">
	<div class="container">
		<div class="row row-header">
			<nav class="menu menu-left">
				<li class="menu-item"><a href="#">Бассейны</a></li>
				<li class="menu-item"><a href="#">Хамамы</a></li>
				<li class="menu-item"><a href="#">сауна</a></li>
			</nav>
			<a class="logo" href="#"><img src="img/svg/logo.svg" alt=""></a>
			<nav class="menu menu-right">
				<li class="menu-item"><a href="#">Галерея</a></li>
				<li class="menu-item"><a href="#">Карта</a></li>
				<li class="menu-item"><a href="#">контакты</a></li>
			</nav>
			<nav class="menu-mob">
				<div class="menu-burder"></div>
			</nav>
		</div>
	</div>
</header>